@import '../../../base/_variables.scss';

::ng-deep .mat-content {
  margin-right: 48px !important;
  text-overflow: ellipsis;
}

.rule-have-error {
  ::ng-deep .mat-expansion-indicator::after {
    color: inherit;
  }
}

.filters-wrapper {
  margin: 28px 40px;

  .header {
    .header-flexbox {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: row;

      h1 {
        color: $label-grey;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 0.72px;
      }

      .status {
        display: block;
        margin: 0 24px;
        width: 100px;
        height: 32px;
        color: white;
        font-size: 9px;
        line-height: 3.5;
        text-align: center;
        border-radius: 8px;
      }
    }
  }

  .container {
    height: calc(100vh - 160px);
    padding-right: 23px;
    overflow-y: auto;
  }

  .plans {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 300px;
    justify-content: center;
    margin-bottom: 30px;

    ul {
      margin: 0 0 0 -15px;
      padding: 0;
      list-style: none;
    }
  }

  .right-column {
    ul {
      max-height: 200px;
      overflow-y: auto;
    }
  }

  .title {
    color: $label-grey;
    font-weight: 300;
    font-size: 20px;
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .default-filter-button {
    margin-left: 10px;
    vertical-align: top;
  }

  .rules-actions-container {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add-rule-container {
      .filters-errors {
        padding-top: 15px;
      }
    }
  }

  .accordion-wrapper {
    button {
      width: 150px;
      height: 36px;
      margin-top: 20px;
      color: #181818;
      font-weight: bold;
      word-wrap: break-word;
      background-color: #f8f8f8;
      border: none;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
    }

    .mat-expansion-panel {
      margin-bottom: 16px;
      border-radius: 4px;
    }

    .mat-expansion-panel:first-of-type {
      margin-top: 0;
    }

    .mat-expansion-panel:last-of-type {
      margin-bottom: 0;
    }

    .drag-handle {
      display: block;
      width: 24px;
      height: 24px;
      margin: auto;
      mat-icon {
        color: #000;
      }
    }

    .cdk-drag-disabled {
      .drag-handle {
        mat-icon {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    .mat-expansion-panel-header-description {
      align-items: center;
      min-width: 0;
      margin-right: 0;
      margin-left: 12px;

      .rule-name {
        font-weight: bold;
        max-width: 400px;
        min-width: 50px;
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .rule-description {
        max-width: 1000px;
        min-width: 500px;
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .rule-have-error {
      .mat-expansion-panel-header {
        background-color: #bb0a13 !important;
        color: #f0f0f0 !important;
      }
      .mat-expansion-panel-header-description,
      .mat-expansion-indicator::after {
        color: inherit;
      }
      .mat-icon-button,
      .drag-handle {
        mat-icon {
          color: #fff;
        }
      }
    }

    .mat-expansion-panel-header-title {
      width: 24px;
      margin: 0;
      flex-grow: 0;

      .delete-icon-wrapper {
        display: block;
        position: absolute;
        top: 25%;
        right: 48px;
        margin-right: 10px;
      }

      .mat-icon-button {
        margin: 0;
        padding: 0;
        height: 24px;
        width: 24px;
        background-color: transparent;
        mat-icon {
          color: black;
        }
      }
      .mat-icon-button:disabled {
        mat-icon {
          cursor: not-allowed;
        }
      }
    }

    .cdk-drag-placeholder {
      box-sizing: border-box;
      border: 2px dotted #fff;
      opacity: 0.5;
      height: 48px;
      width: 100%;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .mat-icon {
      background-color: transparent;
      cursor: pointer;
    }
  }
}

::ng-deep .cdk-drag-preview {
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  .rules-drag-preview-wrapper {
    display: block;
    box-sizing: border-box;
    background-color: white;
    width: calc(100vw - 80px);
    .mat-expansion-panel-header-title {
      width: 24px;
      margin: 0;
      flex-grow: 0;
      .mat-icon-button {
        margin: 0;
        padding: 0;
        height: 24px;
        width: 24px;
        background-color: transparent;
        mat-icon {
          color: black;
        }
      }
    }
    .mat-expansion-panel-header-description {
      align-items: center;
      min-width: 0;
      margin-right: 0;
      margin-left: 12px;
      .rule-name {
        font-weight: bold;
        max-width: 400px;
        min-width: 50px;
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .rule-description {
        max-width: 1000px;
        min-width: 500px;
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 1000px) {
  .filters-wrapper {
    min-width: 650px;
  }
}

@media (max-width: 992px) {
  .filters-wrapper {
    .container {
      height: calc(100vh - 130px);
    }
  }
}

@media (max-width: 959px) {
  .filters-wrapper {
    .container {
      height: calc(100vh - 250px);
    }
  }
}

@media (max-width: 1000px) {
  .filters-wrapper {
    min-width: 650px;
  }
}

@media (max-width: 992px) {
  .filters-wrapper {
    .container {
      height: calc(100vh - 130px);
    }
  }
}

@media (max-width: 959px) {
  .filters-wrapper {
    .container {
      height: calc(100vh - 250px);
    }
  }
}
