@import '../../../base/_variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba($app-background, 0.7);

  .mat-spinner {
    left: unset;
    margin: 0 auto;
  }

  .spinner-text {
    position: relative;
    top: 52%;
    margin: 0 auto;
    text-align: center;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
