@import '../../../base/_variables.scss';
@import '../../../base/_mixin.scss';

@include custom-scrollbar();

.inter-details-component-container {
  padding-left: $padding;
  overflow-wrap: break-word;
  @include inter-detail-page();
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.settings-tab-grid {
  display: grid;
  grid-template-columns: 7fr 3fr;

  .grid-container {
    width: 100%;
  }
}

.content-tab-grid {
  display: grid;
  grid-template-columns: 3fr 3fr 4fr;

  .grid-container {
    width: 100%;
  }
}

.tab-content-title-container {
  width: 100%;
  margin-bottom: 10px;

  .tab-content-title {
    font-size: 2em;
    font-weight: bold;
  }
}

.tab-content-block-container {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;

  .tab-content-inner-block-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .tab-content-block-title {
      display: block;
      font-size: 1.2em;
      font-weight: bold;
    }

    .tab-content-block-description {
      display: block;
      font-size: 10px;
    }
  }

  .tab-content-block-data {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }

  .link-data {
    text-decoration: underline;
  }
  .disabled-link {
    pointer-events: none;
    text-decoration: none;
    opacity: 0.5;
  }
  .tab-content-block-row-container {
    width: 100%;
    margin-bottom: 30px;
    display: flex;

    .tab-content-block-row-item {
      display: flex;
      flex-direction: column;
      width: 240px;

      .tab-content-block-row-title {
        font-weight: bold;
        height: 12px;
        color: white;
        font-size: 12px;
        margin-bottom: 15px;
      }
      .status-item {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 5px;
      }
    }
  }

  .tab-content-block-grid-container {
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: 120px;
    grid-auto-flow: column;

    .tab-content-block-grid-item {
      width: 240px;
      margin-bottom: 15px;
    }
  }

  .tab-content-block-languages-container {
    width: 100%;

    .tab-content-block-languages-item {
      display: grid;
      grid-template-rows: 1fr;
      padding: 10px;

      .tab-content-block-languages-data-container {
        margin-right: 10px;

        .tab-content-block-languages-data-item {
          width: 100%;
          margin-bottom: 20px;

          .tab-content-block-languages-data-item-title {
            font-weight: bold;
            height: 12px;
            color: white;
            font-size: 12px;
            margin-bottom: 10px;
          }

          .tab-content-block-languages-data-item-content {
            font-size: 12px;
            display: block;
            font-size: 10px;
            word-break: break-all;

            .item-content-language {
              font-weight: bold;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .tab-content-block-last-row {
    margin-bottom: 0;
  }

  .tab-content-block-flex-container {
    display: flex;
  }

  .tab-content-block-large {
    width: 350px;
    margin-right: 20px;
    position: relative;
  }

  .tab-content-block-middle {
    width: 175px;
    margin-right: 20px;
    position: relative;
  }

  .tab-content-block-small {
    width: 82px;
    margin-right: 20px;
    position: relative;
  }

  .tab-content-block-label {
    font-weight: bold;
    height: 10px;
    color: white;
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 10px;
    display: flex;

    .mat-checkbox {
      display: block;

      label {
        padding: 0;
      }
    }
  }

  .select-button-container {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    span {
      position: absolute;
      left: 10px;
      top: 5px;
      color: #fff;
      font-weight: bold;
      line-height: 40px;
      max-height: 40px;
      width: auto;
    }

    .select-button {
      width: 200px;
      height: 50px;
    }
  }

  .regions-placeholder-container {
    background-color: $input-placeholder-grey;
    height: 500px;

    .regions-empty-state-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .regions-empty-state-icon-container {
        font-size: 100px;
      }

      span {
        text-align: center;
      }
    }
  }

  .tab-content-textarea-full-height {
    height: 100%;
  }

  .tab-content-dnd-block-container {
    width: 100%;
  }

  .odd-element {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .status-cell {
    width: 140px;
    height: 20px;
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 8px;
  }

  .tab-content-regions-table-container {
    .pending-blink {
      animation: blinking 2s infinite;
    }

    @keyframes blinking {
      from {
        background-color: $blinking-color-from;
      }

      50% {
        background-color: $blinking-color-to;
      }

      to {
        background-color: $blinking-color-from;
      }
    }

    table.mat-table {
      background: $app-background;
      border-collapse: collapse;

      tbody {
        tr.mat-row {
          position: relative;

          .row-error-message-container {
            background-color: #FEF445;
            position: absolute;
            top: 61px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 48px;
            width: 100%;

            .error-message-container {
              display: flex;
              align-items: center;
              color: black;
              margin-left: 15px;

              mat-icon {
                width: 24px;
                height: 24px;
                margin-right: 10px;
              }

              .error-suggestion {
                font-weight: bold;
              }
            }

            .action-buttons-container {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .action-button {
                margin-right: 15px;
                background-color: #181818;
                color: #f8f8f8;
              }
            }
          }

          .error-block {
            background-color: #F24726;
          }
        }

        .row-with-error {
          color: #F24726;
          padding-bottom: 48px;
        }
      }
    }

    .table-cell-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .table-cell-left {
      display: flex;
      justify-content: start;
      align-items: center;
      span {
        max-width: 400px;
        overflow-wrap: break-word;
      }
    }

    .regions-table-actions-container {
      display: flex;
      justify-content: center;
    }

    .offer-code-loader {
      .offer-code-validation-icon {
        width: 24px;
        width: 24px;
        margin-left: 15px;
      }

      .valid-icon {
        color: green;
      }

      .invalid-icon {
        color: red;
      }
    }
  }

  .action-container {
    display: flex;
    justify-content: center;

    .action-button {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: #f0f0f0;
      border: none;

      .mat-icon {
        color: #f0f0f0;
        width: 24px;
        height: 24px;
      }

      .active-edit {
        background-color: white;
        border-radius: 50%;
        color: $app-background;
      }
    }

    .action-button:hover {
      cursor: pointer;
    }
  }
}

.refresh-btn {
  color: white;
  font-weight: 200;
  background: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.download-button {
  display: flex;
  align-items: center;
  width: 186px;
  height: 36px;
  color: $app-grey;
  background-color: transparent;
  border: 1px solid $app-grey;
  border-radius: 4px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &-image {
    margin-right: 8px;
    padding: 5px;
  }

  span {
    font-size: 24px;

    &.showExportCsvBtn-disabled {
      visibility: hidden;
    }
  }
}

.details-component-container-details-field-image {
  width: 432px;
  height: auto;
}

.dit-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

#DetailPageDITButton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
}

#DetailPageDITButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dit-message {
  text-align: left;
  margin: auto 0;
  margin-left: 10px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.showExportCsvBtn-spinner::before {
  position: relative;
  top: 15%;
  left: 11%;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border: 2px solid gray;
  border-top-color: black;
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
  content: '';
}

.showExportCsvBtn-disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.countdown-overlay {
  position: relative;
}